<div class="col s12 ">
  <div class="alert alert-success" ng-if="success"><strong>Success! </strong>{{successMsg}}</div>
  <div class="alert alert-danger" ng-if="error"><strong>Error! </strong>{{errorMsg}}</div>
  <ul class="collapsible popout s10" data-collapsible="accordion">
    <!-- <li>
       <div class="collapsible-header">User information</div>
       <div class="collapsible-body">
          <p>Email: {{currentUser.email}}</p>
       </div>
     </li> -->
    <li>
      <div class="collapsible-header">Email</div>
      <div class="collapsible-body">
        <form class="col s12" name="changeEmailForm" ng-submit="changeEmail(changeEmailForm)" novalidate>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input ng-model="email.email" name="email" id="email" type="email" ng-disabled="!isEditEmail"
                     required  ng-class="{'invalid' : changeEmailForm.email.$invalid && emailFormSubmitted}">
              <label class="active" for="email">Email</label>
              <p class="validate-message" ng-if="changeEmailForm.email.$error.required && emailFormSubmitted">This input is required</p>
              <p class="validate-message" ng-if="changeEmailForm.email.$error.email && emailFormSubmitted">Wrong email format</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <button ng-click="editEmail()" ng-show="!isEditEmail" type="button" class="btn waves-effect waves-light" name="action">Edit
              </button>
              <button ng-show="isEditEmail" class="btn waves-effect waves-light"
                      name="action">Save</button>
              <button type="button" ng-show="isEditEmail" ng-click="cancelEmail()" class="btn waves-effect waves-light" name="action">Cancel</button>
            </div>
          </div>
        </form>

      </div>
    </li>
    <li>
      <div class="collapsible-header">Password</div>
      <div class="collapsible-body">

        <form class="col s12" name="changePasswordForm" ng-submit="changePassword(changePasswordForm)" novalidate>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input ng-model="password.oldPassword" name="oldPassword" id="old-password" type="password" ng-disabled="!isEditPassword"
                     ng-class="{'invalid' : changePasswordForm.oldPassword.$invalid && passwordFormSubmitted}" required>
              <label class="active" for="old-password">Old Password</label>
              <p class="validate-message" ng-if="changePasswordForm.oldPassword.$error.required && passwordFormSubmitted">This input is required</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input ng-model="password.newPassword" name="newPassword" id="new-password" type="password"
                     ng-disabled="!isEditPassword" required minlength="6" ng-class="{'invalid' : changePasswordForm.newPassword.$invalid && passwordFormSubmitted}">
              <label class="active" for="new-password">New Password</label>
              <p class="validate-message" ng-if="changePasswordForm.newPassword.$error.required && passwordFormSubmitted">This input is required</p>
              <p class="validate-message" ng-show="changePasswordForm.newPassword.$error.minlength && passwordFormSubmitted">Password need at least 6 character</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input ng-model="password.rePassword" name="repassword" id="repeat_password" compare-to="password.newPassword" type="password"
                     ng-disabled="!isEditPassword"  ng-class="{'invalid' : changePasswordForm.repassword.$invalid && passwordFormSubmitted}">
              <label class="active" for="repeat_password">Repeat New Password</label>
              <p class="validate-message" ng-if="changePasswordForm.repassword.$error.compareTo && passwordFormSubmitted">Confirm password dose not match</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <button ng-click="editPassword()" ng-show="!isEditPassword" type="button" class="btn waves-effect waves-light" name="action">Edit</button>
              <button ng-show="isEditPassword" class="btn waves-effect waves-light" name="action">Save</button>
              <button type="button" ng-show="isEditPassword" ng-click="cancelPassword()" class="btn waves-effect waves-light" name="action">Cancel</button>
            </div>
          </div>
        </form>

      </div>
    </li>
    <li>
      <div class="collapsible-header">Contact Details</div>
      <div class="collapsible-body">

        <form class="col s12" name="changeProfileForm" ng-submit="changeProfile(changeProfileForm)" novalidate>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input ng-model="profile.phoneNumber" id="phoneNumber" type="text" ng-disabled="!isEditProfile">
              <label class="active" for="phoneNumber">Mobile Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5 offset-s1">
              <input ng-model="profile.firstName" name="firstName" id="firstName" type="text" required
                     ng-disabled="!isEditProfile" ng-class="{'invalid' : changeProfileForm.firstName.$invalid && profileFormSubmitted}">
              <label class="active" for="firstName">First Name</label>
              <p class="validate-message" ng-if="changeProfileForm.firstName.$error.required && profileFormSubmitted">First name is required</p>
            </div>
            <div class="input-field col s5">
              <input ng-model="profile.lastName" name="lastName" id="lastName" type="text" required
                     ng-disabled="!isEditProfile" ng-class="{'invalid' : changeProfileForm.lastName.$invalid && profileFormSubmitted}">
              <label class="active" for="lastName">Last Name</label>
              <p class="validate-message" ng-if="changeProfileForm.lastName.$error.required && profileFormSubmitted">Last name is required</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <button ng-click="editProfile()" ng-show="!isEditProfile" type="button" class="btn waves-effect waves-light" name="action">Edit</button>
              <button ng-show="isEditProfile" class="btn waves-effect waves-light" name="action">Save</button>
              <button type="button" ng-show="isEditProfile" ng-click="cancelProfile()" class="btn waves-effect waves-light" name="action">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>