<div ng-if="quoteRequests">
    <form method="post" >
        <table>
            <thead>
                <tr>
                    <td>Builder email</td>
                    <td>Description</td>
                    <td>Quote</td>
                    <td>Select quote</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quoteRequest in quoteRequests" ng-if="!project.homeBuilder">
                    <td>{{quoteRequest.email}}</td>
                    <td>{{quoteRequest.description}}</td>
                    <td>{{quoteRequest.price}}</td>
                    <td>
                        <p>
                            <input type="radio" ng-model="value" ng-change="selectWinner(value)"  value='{{quoteRequest._id}}' name='group{{$parent.$index + 1}}' id='{{quoteRequest._id}}'>
                            <label for="{{quoteRequest._id}}">Select</label>
                        </p>
                    </td>
                </tr>
                <tr ng-if="project.homeBuilder">
                    <td>{{project.email}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.quote}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- <button class="btn waves-effect waves-light" name="action">Select</button> -->
    </form>
</div>
