<div class="row" style="margin-top: 18px">
 <h5 class="col s8">Contractor Package {{contractorRequest.name}} in Tender</h5>
 
 <div class="col s4" style="margin-top:15px">
     <a class='dropdown-button btn-flat right tooltipped' data-position="top" data-delay="1" data-tooltip="Attach..."
        data-activates='itemSendQuote' data-gutter="-30" dropdown data-beloworigin="true" data-constrainwidth="false">
      <i class="mdi-navigation-more-vert"></i>
     </a>

     <!-- Dropdown Structure -->
     <ul id='itemSendQuote' class='dropdown-content'>
     <li><a class="modal-trigger" href='#attachQuote'>Attach Quote</a></li>
     </ul>
 </div>
</div>

<div class="row">
 <p class="col s12">{{contractorRequest.description}}</p>
</div>

<div class="row">
   <div class="col s12">
     <ul class="collapsible" data-collapsible="accordion">
       <li>
         <div class="collapsible-header">Detail</div>
         <div class="collapsible-body" style="background-color: #FFF; padding:10px">
          <div class="col s12">
            <strong>Start date</strong>: {{contractorRequest.dateStart | date: longDate}}
            <table>
              <thead>
                <th>Description</th>
              </thead>
              <tbody>
                <tr ng-repeat="addendum in contractorRequest.addendums | filter:{isHidden:false}">
                  <td>{{addendum.addendumsScope.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
         </div>
       </li>
     </ul>
   </div>
 </div>

<div class="row">
 <div class="col s12">
   <ul class="card collection">
     
     <div style="height: 500px; overflow-y: auto">
     <li class="collection-item" ng-repeat = "message in messages.messages">
       <div class="row valign-wrapper" style="margin-bottom: -5px" ng-if="message.to == currentTeam._id">
         <a class="btn-flat col s1">
           <i class="mdi-toggle-radio-button-on valign center-align" ></i>
         </a>
         
         <p class="col s9 valign">{{message.message}}</p>
         <p class="circle col s2 right valign center-align"><strong>Sent by</strong>: {{message.sendBy.name}}</p>
         <!-- <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" /> -->
       </div>
       </li>
     
     <!-- <li class="collection-item">
       <div class="row valign-wrapper" style="margin-bottom: -5px">
         <a href="#!" class="btn-flat col s1">
           <i class="mdi-toggle-radio-button-on valign center-align" ></i>
         </a>
         
         <p class="col s9 valign">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br /> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
         
         <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" />
       </div>
       </li>
     
     <li class="collection-item">
       <div class="row valign-wrapper" style="margin-bottom: -5px">
         <a href="#!" class="btn-flat col s1">
           <i class="mdi-toggle-radio-button-on valign center-align" ></i>
         </a>
         
         <p class="col s9 valign">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br /> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
         
         <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" />
       </div>
       </li> -->
     
     </div>
     <div class="divider"></div>
     <div class="col s12 card-footer" style="height: 150px">
       <div class="row">
           <form class="col s10 offset-s1" ng-submit="sendMessage()">
               <div class="input-field col s9">
                 <textarea id="textarea1" class="materialize-textarea" ng-model="message"></textarea>
                 <label for="textarea1">Send a Message...</label>
           </div>
           <div class="input-field col s3">
               <button class="btn-large waves-effect waves-light" type="submit" style="margin-top: 47px" name="action">Send
                 <i class="mdi-content-send right"></i>
               </button>
               </div>
           </form>
       </div>
     </div>
       <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">New Thread<i class="mdi-navigation-close right"></i></span>
     <form class="col s12">
        <div class="input-field col s12">
                <input id="thread_name" type="text">
                <label for="thread_name">Name</label>
             </div>
      </form>
           </div>
     </ul>
 </div>
</div>

<div id="attachQuote" class="modal modal-fixed-footer">
    <form name="sendQuoteForm" ng-submit="sendQuote()" method="POST">
    <div class="modal-content">
      <div class="row">
        <h5 class="col s12">New Quote for {{contractorRequest.name}}</h5>
      </div>
       <div class="row">
         <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item vlalign-wrapper">
              <div class="row" style="margin-bottom: 0px">
                <div class="col s6 valign center-align background-hover">
                  <a ng-click="addLineWithRate()" class="waves-effect waves-light" style="color:#000;">Add Line with Rate</a>
                </div>
                <div ng-click="addLineWithPrice()" class="col s6 valign center-align background-hover">
                  <a class="waves-effect waves-light" style="color:#000;">Add Line with Price</a>
                </div>
              </div>
            </li>
            <li class="">
              <div class="row form" style="margin-bottom: 0px; padding:10px;background-color: #FFF" ng-repeat="lineWithRate in lineWithRates track by $index">
                <div class="input-field col s12 m6">
                   <textarea value="This is a line item with Rate - note the field for qty is editable"id="description" class="materialize-textarea" ng-model="rate.lineWithRate.rateDescription[$index]" required></textarea>
                       <label for="description">Description of Item</label>
                    </div>
                <div class="input-field col s12 m2" style="margin-top: 67px">
                        <input id="rate" name="rate" type="text" class="validate" ng-model="rate.lineWithRate.rate[$index]" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                        <label for="rate">Rate</label>
                        <p class="validate-message" ng-show="sendQuoteForm.rate.$invalid && sendQuoteForm.rate.$dirty">Limit 2 decimals!!!</p>
                    </div>
                <div class="input-field col s12 m1" style="margin-top: 67px">
                        <input id="quantity" type="text" class="validate" ng-model="rate.lineWithRate.rateQuantity[$index]" required>
                        <label for="quantity">Qty</label>
                    </div>
                    <span style="display:none">{{rate.lineWithRate.rateTotal[$index] = (rate.lineWithRate.rate[$index] * rate.lineWithRate.rateQuantity[$index]).toFixed(2)}}</span>
                <div class="input-field col s6 m2" style="margin-top: 67px" ng-hide="rate.lineWithRate.rateTotal[$index] != 'NaN'">
                  <input type="text" disabled id="rateTotal">
                  <label for="rateTotal">Line total</label>
                </div>
                <div class="input-field col s6 m2" style="margin-top: 67px" ng-show="rate.lineWithRate.rateTotal[$index] != 'NaN'">
                        <input disabled id="total" type="text" class="validate" ng-model="rate.lineWithRate.rateTotal[$index]">
                        <label for="total" ng-if="rate.lineWithRate.rateTotal[$index] != 'NaN'">Line total</label>
                    </div>
                <div class="input-field col s6 m1" style="margin-top: 67px">
                        <i class="small mdi-action-highlight-remove" ng-click="removeLineWithRate($index)"></i>
                    </div>
              </div>
            </li>
            <li class="">
              <div class="row form" style="margin-bottom: 0px; padding:10px;background-color: #FFF" ng-repeat="lineWithPrice in lineWithPrices track by $index">
                <div class="input-field col s12 m6">
                   <textarea value="This is a line item with Price - the Qty field is set to 1 and only price can be changed."id="description" class="materialize-textarea" ng-model="price.lineWithPrice.description[$index]" required></textarea>
                       <label for="description">Description of Item</label>
                    </div>
                <div class="input-field col s12 m2" style="margin-top: 67px">
                        <input id="price" name="price" type="text" class="validate" ng-model="price.lineWithPrice.price[$index]" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                        <label for="price">Price</label>
                        <p class="validate-message" ng-show="sendQuoteForm.price.$invalid && sendQuoteForm.price.$dirty">Limit 2 decimals!!!</p>
                    </div>
                <div class="input-field col s12 m1" style="margin-top: 67px">
                        <input disabled value="1" id="quantity" type="text" class="validate" ng-model="price.lineWithPrice.quantity[$index]">
                        <label for="quantity">1</label>
                    </div>
                <div class="input-field col s6 m2" style="margin-top: 67px">
                        <input disabled id="total" type="text" class="validate" ng-model="price.lineWithPrice.price[$index]">
                        <label for="total">Line Total</label>
                    </div>
                <div class="input-field col s6 m1" style="margin-top: 67px">
                        <i class="small mdi-action-highlight-remove" ng-click="removeLineWithPrice($index)"></i>
                    </div>
              </div>
            </li>
            </ul>
         </div>
       </div>
       <div class="row" style="margin-top: 50px">
         <div class="col s6 valign">
           <div class="file-field input-field">
              <div ng-show="uploader.queue.length" class="form-group">
                <div ng-repeat="item in uploader.queue" ng-if="$last">
                  <div class="row">
                    <div class="input-field col s8 offset-s2">
                      <input type="text" ng-model="item.file.name" disabled>
                      <label for="">File name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s8 offset-s2">
                    </div>
                  </div>
                </div>
              </div>
               <!-- <input class="file-path validate" type="text"/> -->
              <div class="btn tooltipped" data-position="top" data-delay="1" data-tooltip="Attach a File"><i class="mdi-editor-attach-file"></i>
               <input type="file" nv-file-select="" uploader="uploader"/>
              </div>
            </div>
         </div>
         <div class="input-field col s2 offset-s3" style="margin-top: -40px">
                <p>Sub-Total: {{(subTotalRate + subTotalPrice).toFixed(2)}}</p>
            <p>GST: {{((subTotalRate + subTotalPrice) * 0.1).toFixed(2)}}</p>
            <p>Total: {{((subTotalRate + subTotalPrice) * 0.1 + subTotalRate + subTotalPrice).toFixed(2)}}</p>
             </div>
       </div>
    </div>
       <div class="divider"></div>
    <div class="modal-footer" style="height:auto">
      <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-disable="sendQuoteForm.$invalid" ng-click="uploadAll()"> Send quote!</button>
         <!-- <a href="#!" ng-click="sendQuote()" class="modal-action modal-close waves-effect waves-green btn-flat ">Send Quote!</a> -->
     <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
     </form>
  
</div>

<!-- <div class="row">
  <h4>Project detail</h4>
  <h5>{{contractorRequest.project.name}}</h5>

  <p>{{contractorRequest.project.description}}</p>

  <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit</alert>
  <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg}}</alert>

  <h4>Quote request detail</h4>
  <h5>{{contractorRequest.name}}</h5>
  <p>{{contractorRequest.description}}</p>
  <form method="POST" name="sendQuoteToBuilder" ng-submit="sendQuote()">
      <div class="row">
          <div class="input-field col s12">
              <textarea name="" id="" ng-model="quoteRequest.description" required></textarea>
              <label for="">Description</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input type="number" ng-model="quoteRequest.price" required>
              <label for="">Price in USD</label>
          </div>
      </div>
      <div class="row">
          <button ng-if="currentUser.email" class="waves-effect waves-light btn" ng-disabled="sendQuoteToBuilder.$invalid">Send quote</button>
      </div>
      <div ng-if="currentUser.email == null || currentUser.email == ''">
        <a href="#signin" class="waves-effect waves-light btn modal-trigger">Login</a> 
      </div>
  </form>
</div>

<div id="signin" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form method="post" ng-submit="signin()" style="padding:10px;">
      <h3>Login</h3>
      <div layout layout-sm="column">
        <div input-field>
          <label>Email</label>
          <input ng-model="user.email" type="text" required>
        </div>
      </div>
      <div layout layout-sm="column">
        <div input-field>
          <label>Password</label>
          <input ng-model="user.password" required type="password">
        </div>
      </div>

      <div layout layout-sm="column">
        <button class="waves-effect waves-light btn" id="btn-login">Login</button>
      </div>
      <div class="divider"></div>
      <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div id="signupAndSendQuoteContractor" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form method="post" ng-submit="signupAndSendQuoteContractor()" name="signupForm" >
      <h3>Registry</h3>
      <div class="row">
        <div input-field class="col s12">
          <label>Email</label>
          <input type="email" ng-model="user.email" required>
        </div>
      </div>
      <div class="row">
        <div input-field class="col s12">
          <label>Password</label>
          <input ng-model="user.password" required type="password">
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn" id="btn-signup" ng-disabled="signupForm.$invalid">Sign up</button>
      </div>
      <div class="divider"></div>
      <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>
 -->

