<!-- <div class="" style="margin-top:50px;margin:auto;">
  <div class="col s12">
    <div class="add-comment contact-form boxed">
      <div class="alert alert-success" ng-if="success"><strong>Success! </strong>{{successMsg}}</div>
      <div class="alert alert-danger" ng-if="error"><strong>Error! </strong>{{errorMsg}}</div>
      <div class="card collection">
          <form method="post" name="form" ng-submit="signin(form)" style="padding:10px 50px;" novalidate>
            <h3>Login</h3>
            <div class="row">
              <div class="input-field col s12">
                <label>Email</label>
                <input ng-model="user.email" name="email" type="email" required ng-class="{'invalid' : form.email.$invalid && submitted}">
                <p class="validate-message" ng-show="form.email.$error.required && submitted">Email is required</p>
                <p class="validate-message" ng-show="form.email.$error.email && submitted">Wrong email format</p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label>Password</label>
                <input ng-model="user.password" name="password" required type="password" ng-class="{'invalid' : form.password.$invalid && submitted}">
                <p class="validate-message" ng-show="form.password.$error.required && submitted">Password is required</p>

              </div>
            </div>

            <div class="row">
              <button class="waves-effect waves-light btn">Login</button> -->
              <!-- <a ui-sref="forgotPassword" style="margin-left: 20px">Forgot Password</a>
            </div>
          </form>
      </div>
    </div>

  </div>
</div> -->

<ion-view title="Login">
  <ion-content padding="true" class="has-header">
    <form method="post" name="form" ng-submit="signin(form)" novalidate>
      <ion-list>
        <label class="item item-input">
          <!-- <span class="input-label">Email</span> -->
          <input type="email" placeholder="Email" ng-model="user.email" name="email" required ng-class="{'invalid' : form.email.$invalid && submitted}">
          <p class="validate-message" ng-show="form.email.$error.required && submitted">Email is required</p>
          <p class="validate-message" ng-show="form.email.$error.email && submitted">Wrong email format</p>
        </label>
        <label class="item item-input">
          <!-- <span class="input-label">Password</span> -->
          <input ng-model="user.password" name="password" required type="Password" ng-class="{'invalid' : form.password.$invalid && submitted}" placeholder="Password">
          <p class="validate-message" ng-show="form.password.$error.required && submitted">Password is required</p>
        </label>
        <label class="checkbox" style="padding: 0px; margin-top: 7px;">
          <input type="checkbox" ng-model="rememberMe" style="display:inline-block;vertical-align: middle">
          <p style="display:inline-block">Keep me sign in</p>
        </label>
        
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-stable button-block ">Log in</button>
      <!-- <a href="#/projects" class="button button-stable button-block ">Log in</a> -->
    </form>
  </ion-content>
</ion-view>
