<div class="row">
  <h4>Project detail</h4>
  <h5>{{quoteRequest.project.name}}</h5>

  <p>{{quoteRequest.project.description}}</p>

  <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
  <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg}}</alert>

  <!-- <h4>Package detail</h4>
  <h5>{{quoteRequest.package.name}}</h5>

  <p>{{quoteRequest.package.description}}</p>
  <p><b>Price </b>{{quoteRequest.price}}</p> -->
  <h4>Quote request detail</h4>
  <p>{{quoteRequest.description}}</p>
  <h6>Price: {{quoteRequest.price}}</h6>
  <div ng-if="currentUser.email == quoteRequest.project.user.email">
    <form method="post" ng-submit="selectQuote(quoteRequest._id)">
      <input type="hidden" ng-model="file._id" value="filquoteRequeste._id">
      <button class="waves-effect waves-light btn">
        <span>Accept quote</span>
      </button>
    </form>
  </div>
  <div ng-if="!currentUser.email">
    <a href="#signin" class="waves-effect waves-light btn modal-trigger">Login</a>
     <!-- or <a href="#signup" class="waves-effect waves-light btn modal-trigger modal">Registry</a> -->
  </div>
</div>


<div id="signin" class="modal">
  <div class="modal-content">
    <form method="post" ng-submit="signin()" style="padding:10px;">
      <h3>Login</h3>
      <div layout layout-sm="column">
        <div input-field>
          <label>Email</label>
          <input ng-model="user.email" type="text" required>
        </div>
      </div>
      <div layout layout-sm="column">
        <div input-field>
          <label>Password</label>
          <input ng-model="user.password" required type="password">
        </div>
      </div>

      <div layout layout-sm="column">
        <button class="waves-effect waves-light btn modal-close" id="btn-login">Login</button>
      </div>
      <div class="divider"></div>
      <div class="modal-footer">
        <!-- <button class="waves-effect waves-light btn" ng-disabled="createContractorPackageForm.$invalid">Create Package!</button> -->
           <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Create Package!</a> -->
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div id="signup" class="modal modal-fixed-footer">
  <div class="modal-content">
    {{user.idParams}}
    <form method="post" ng-submit="signup()" name="signupForm" >
      <h3>Registry</h3>
      <div class="row">
        <div input-field class="col s12">
          <label>Email</label>
          <input type="email" ng-model="user.email" required>
        </div>
      </div>
      <div class="row">
        <div input-field class="col s12">
          <label>Password</label>
          <input ng-model="user.password" required type="password">
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn" id="btn-signup" ng-disabled="signupForm.$invalid">Sign up</button>
      </div>
      <div class="divider"></div>
      <div class="modal-footer">
        <!-- <button class="waves-effect waves-light btn" ng-disabled="createContractorPackageForm.$invalid">Create Package!</button> -->
           <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Create Package!</a> -->
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>
