<div class="modal modal-fixed-footer" id="createProject">
  <form method="post" name="form" ng-submit="create(form)"  novalidate>
    <div class="modal-content">

        <h3>New project</h3>
        <div clas="row">
          <div class="input-field col s12">
            <label>Name </label>
            <input name="name" ng-model="project.name" required type="text"
                   ng-class="{'invalid' : form.name.$invalid && submitted}">
            <p class="validate-message" ng-if=" form.name.$error.required && submitted">Project name is required</p>
          </div>
        </div>
        <div clas="row">
          <div class="input-field col s12">
            <label>Description </label>
            <input name="description" ng-model="project.description" required type="text"
                   ng-class="{'invalid' : form.description.$invalid && submitted}">
            <p class="validate-message" ng-if=" form.description.$error.required && submitted">Project description is required</p>
          </div>
        </div>
        <div clas="row">
          <div class="input-field col s12">
            <label>Address </label>
            <input ng-model="project.package.location.address" type="text">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label>Suburb </label>
            <input ng-model="project.package.location.suburb" type="text">
          </div>
          <div class="input-field col s6">
            <label>Postcode </label>
            <input ng-model="project.package.location.postcode" type="text">
          </div>
        </div>
        <div clas="row">
          <div class="input-field col s12">
            <label>
              <span ng-if="currentTeam.type == 'builder'">Client's Email: </span>
              <span ng-if="currentTeam.type == 'homeOwner'">Builder's Email: </span>
            </label>
            <input name="email" ng-model="project.package.to" required type="text"
                   ng-class="{'invalid' : form.email.$invalid && submitted}">
            <p class="validate-message" ng-if=" form.email.$error.required && submitted">Email is required</p>
          </div>
          <!--<div class="input-field col s12" ng-if="currentTeam.type == 'builder'">-->
            <!--<angucomplete-alt id="ex1"-->
                                    <!--pause="100"-->
                                    <!--placeHolder="Home owner email"-->
                                    <!--selected-object="project.email"-->
                                    <!--local-data="homeOwnerTeamMember"-->
                                    <!--search-fields="email"-->
                                    <!--title-field="email"-->
                                    <!--minlength="1"-->
                                    <!--input-changed="inputChanged"-->
                                    <!--template-url="/my-custom-template.html"-->
                                    <!--input-class="col s12"></angucomplete-alt>-->
          <!--</div>-->
          <!--<div class="input-field col s12" ng-if="currentTeam.type == 'homeOwner'">-->
            <!--<angucomplete-alt id="ex1"-->
                                    <!--pause="100"-->
                                    <!--placeHolder="Home builder email"-->
                                    <!--selected-object="project.email"-->
                                    <!--local-data="homeBuilderTeamMember"-->
                                    <!--search-fields="email"-->
                                    <!--title-field="email"-->
                                    <!--minlength="1"-->
                                    <!--input-changed="inputChanged"-->
                                    <!--template-url="/my-custom-template.html"-->
                                    <!--input-class="col s12"></angucomplete-alt>-->
          <!--</div>-->
        </div>
        <div clas="row">
          <div class="input-field col s12">
            <p>Project Subscription of $50 per Month </p>
            <p>Credit Card Number (Field to be invalid)  </p>

            <p>NOTE: This project is Free as we are currently running in Beta.  </p>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-light btn modal-action">Create project</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
  </form>
</div>

<script type="text/ng-template" id="/my-custom-template.html">
  <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr"
           id="email"
           ng-disabled="disableInput"
           type="text"
           placeholder="{{placeholder}}"
           ng-focus="onFocusHandler()"
           class="{{inputClass}}"
           ng-focus="resetHideResults()"
           ng-blur="hideResults($event)"

           autocapitalize="off"
           autocorrect="off"
           autocomplete="off"
           ng-change="inputChangeHandler(searchStr)"/>
    
    <div class="angucomplete-dropdown col s12" ng-show="showDropdown">
      <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
      <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
      <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
        <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
        </div>
        <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
        <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
        <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
        <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
      </div>

    </div>
  </div>
</script>

