<div class="col-md-12" ui-view>
    <div class="row">
        <div class="">
            <div ng-repeat="project in projects">
                <div class="row" style="margin-top: 18px">
                    <h5 class="col s8">{{project.name}}</h5>
                    <div class="col s4" style="margin-top:15px">
                         <a class='dropdown-button btn-flat right' href="#!" data-activates="itemActions" dropdown>
                            <i class="mdi-navigation-more-vert"></i>
                         </a>

                         <!-- Dropdown Structure -->
                         <ul id='itemActions' class='dropdown-content'>
                            <li><a class="modal-trigger" data-target="upload" href="#upload">Upload document</a></li>
                            <li><a>Download All Documents</a></li>
                         </ul>
                   </div>
                </div>
                <div class="row">
                    <p class="col s12">{{project.description}}</p>
                </div>
                <div class="row">
                    <h4>{{builderPackage.type}}</h4>
                    <div ng-if="builderPackage">
                        <upload project="project._id" builder-package="builderPackage._id"></upload>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <file project="project._id"></file>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>