<div layout="row" class="main-content container" style="margin-top:50px;">
  <div class="col-md-12">
    <div class="add-comment contact-form boxed">
      <alert type="danger" ng-if="success">
        <span ng-bind-html="successMsg"></span>
      </alert>
      <div class="card collection">
        <div ng-if="!isExpired && hasToken">
          <form method="post" ng-submit="resetPassword(form)" name="form" novalidate style="padding:10px 50px">
            <h3>Reset password</h3>
            <div class="row">
              <div class="input-field col s12" >
                <input id="password" type="password" name="password" ng-model="reset.password" required
                       ng-class="{'invalid' : form.password.$invalid && submitted}"
                  >
                <label for="password">New password</label>
                <p class="validate-message" ng-show="form.password.$error.required && submitted">New password is required</p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12" >
                <input id="repassword" type="password" name="repassword" ng-model="repassword" compare-to="reset.password"
                       ng-class="{'invalid' : form.repassword.$invalid && submitted}"
                  >
                <label for="repassword">Confirm password</label>
                <p class="validate-message" ng-show="form.repassword.$error.compareTo && submitted">Confirm password dose not match</p>
              </div>
            </div>
            <div class="row">
              <button style="margin-left:10px" class="waves-effect waves-light btn">Submit</button>
            </div>
          </form>
        </div>
        <div ng-if="isExpired || !hasToken" style="padding: 10px 50px">
          <h5>Your request has expired</h5>
        </div>
      </div>
    </div>

  </div>
</div>