<div class="row">
    <h2>{{project.name}}</h2>

    <p>{{project.description}}</p>

    <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
    <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg}}</alert>
    
    <form method="post" name="createQuoteForm" ng-submit="create()" flex="100" style="padding:10px;">
        <div layout layout-sm="column">
            <md-input-container flex>
              <label>Description </label>
              <input ng-model="quote.description" type="text" required>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
              <label>Price </label>
              <input ng-model="quote.price" type="text" required>
            </md-input-container>
        </div>
    
        <div layout layout-sm="column">
            <button class="waves-effect waves-light btn" ng-disabled="createQuoteForm.$invalid">Send quote</button>
        </div>
    </form>
</div>
